body{
    font-family: Tahoma;
    color: #2b2b2b;
}

a{
    color: #286ba8;
}

/*strong{
    color: #15294f;
}*/

.divider{
    border-left: 1px solid #E5E5E5;
    padding-left: 20px;
}

.no-margin{
    margin: 0;
}


.navbar .brand {
    padding: 7px 20px;
}

#header{
    background: url(/images/bg_topo.jpg) repeat-x scroll center top transparent;
    height: 376px;
}

.interna #header{
    background: url(/images/bg_topo_interna.jpg) repeat-x scroll center top transparent;
    height: 205px;
}

.link #header{
    background: none repeat-x scroll center top #3785d8;
    height: 97px;
}

#header .bg-header{
    background: url(/images/topo.jpg) no-repeat scroll center top transparent;
    height: 376px;
}

.interna #header .bg-header{
    background: url(/images/topo_interna.jpg) no-repeat scroll center top transparent;
    height: 205px;
}

.link #header .bg-header{
    background: none no-repeat scroll center top #3785d8;
    height: auto;
}

.link #header .container{
    padding-top: 0;
}

.link .button-area{
    margin-top: 32px;
}

#header .container{
    padding-top: 29px;
}

#header .login-area{
    color: #fff;
    font-weight: bold;
}

#header .login-area .username{
    color: #fac800;
}

#header .login-area a{
    margin-left: 5px;
}

#header .pq-area h2{
    font-family: Arial;
    font-style: italic;
    font-weight: bold;
    letter-spacing: -2px;
    margin-left: 80px;
    margin-top: 18px;
    color: #021e50;
    font-size: 30pt;
}

.interna #header .title-page {
    color: #FFFFFF;
    font-family: Arial;
    font-size: 30pt;
    font-style: italic;
    font-weight: bold;
    letter-spacing: -2px;
    margin-left: 80px;
    position: absolute;
    top: 98px;
}

#header .pos-pq{
    color: #fff;
    margin-left: 50px;
    font-size: 12pt;
    padding-top: 10px;
}

.home #header button, .interna #header button{
    background: none;
    border: none;
    padding: 0;
}

#header #encurtador_url {
    font-family: Arial;
    font-size: 25pt;
    height: auto;
    margin: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 20px;
    border-radius: 10px;
}

#header .display-fields{
    margin-left: 50px;
}


#header form .display-fields > p{
    color: #466586;
    margin-left: 10px;
    line-height: 14px;
}

.link #content {
    padding: 0;
}

#content {
    font-family: Tahoma;
    font-size: 12px;
    line-height: 25px;
    padding: 25px 0;
}

#content p{
    margin: 0 0 25px
}

#content .navbar-inner{
    padding-right: 5px;
}

#footer{
    background: url(/images/bg_footer.jpg) repeat-x scroll center top #043483;
    min-height: 56px;
    font-size: 12px;
}

#footer a:hover{
    color: #fff;
    text-decoration: none;
}

#footer ul.navbar{
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
    margin-top: 25px;
}

#footer ul.navbar li{
    float: left;
    margin-left: 15px;
}

#footer ul.navbar li{
    float: left;
    margin-left: 15px;
}

#footer ul.navbar li:first-child{
    margin-left: 0;
}