:focus {
    outline: 0;
}

/**
 *  // Contents
 *
 *  1 - Home
 *  2 - Interna
 *  3 -
 *  4 -
 *  5 - Geral
 *
 *
 */



/** 1 - Home **/
body {
    line-height: 1;
    color: black;
    background: white;
    font-family: 'Helvetica', 'Oxygen', 'Arial', sans-serif;
}
ol, ul {
    list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}

header {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.4, #3D5170),
        color-stop(1, #041E4C)
    );
    background-image: -o-linear-gradient(top, #3D5170 30%, #041E4C 100%);
    background-image: -moz-linear-gradient(top, #3D5170 40%, #041E4C 100%);
    background-image: -webkit-linear-gradient(top, #3D5170 30%, #041E4C 100%);
    background-image: -ms-linear-gradient(top, #3D5170 30%, #041E4C 100%);
    background-image: linear-gradient(to top, #3D5170 1%, #041E4C 100%);

    height: 100px;
}

header span{
    font-weight: bold;
    font-size: 20px;
    color: white;
    font-style: italic;
    margin-left: 20px;
    position: relative;
    bottom: -15px;
}

.login {
    border-left: 1px solid #264573;
    padding-left: 20px;
}

.cadastro-login {
    background-color: #0F2444;
    cursor: pointer;
    display: inline-block;
    float: right;
    height: 40px;
    position: relative;
    top: 62px;
    width: 350px;
}

.cadastro-login a {
    color: #FFFFFF;
    display: block;
    float: left;
    font-family: Helvetica;
    font-style: italic;
    font-weight: bold;
    padding-top: 11px;
}

header span img {
    margin-left: 40px;
}

.porques {
    background: #1f375f; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMxZjM3NWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDQxNTMxIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-radial-gradient(center, ellipse cover,  #1f375f 0%, #041531 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#1f375f), color-stop(100%,#041531)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #1f375f 0%,#041531 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #1f375f 0%,#041531 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #1f375f 0%,#041531 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #1f375f 0%,#041531 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f375f', endColorstr='#041531',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

    padding-bottom: 50px;
    border-bottom: 5px solid #75ce02;
}

.porques h1 {
    font-weight: bolder;
    font-size: 50px;
    font-style: italic;
    color: white;
    margin-top: 60px;
    margin-bottom: 50px;
}

.porques p {
    color: white;
    margin-top: 30px;
    font-size: 14px;
    display: block;
    max-width: 550px;
}

.numeros {
    font-size: 30px;
    color: #021e50;
    font-weight: bolder;
    font-style: italic;
}

.numeros .row {
    padding: 20px 0;
}

.numeros .row:last-child {
    border-top: 1px solid #bdc4d0;
}

.servicos {
    border-top: 1px solid #a6acb6;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #BBC2CE),
        color-stop(1, #FFFFFF)
    );
    background-image: -o-linear-gradient(bottom, #BBC2CE 0%, #FFFFFF 100%);
    background-image: -moz-linear-gradient(bottom, #BBC2CE 0%, #FFFFFF 100%);
    background-image: -webkit-linear-gradient(bottom, #BBC2CE 0%, #FFFFFF 100%);
    background-image: -ms-linear-gradient(bottom, #BBC2CE 0%, #FFFFFF 100%);
    background-image: linear-gradient(to bottom, #BBC2CE 0%, #FFFFFF 100%);
    padding-bottom: 20px;
    text-indent: left;
}

.servicos h2 {
    font-size: 20px;
    font-weight: bolder;
    font-style: italic;
    color: #021e50;

}

.servicos .span4:first-child {
    margin-top: 29px;
}

.servicos .span4:last-child {
    margin-top: 65px;
}

.servicos .span4 {
    margin-top: 43px;
    line-height: 18px;
    font-size: 14px;
}

.anuncios-relatos .container {
    border-top: 1px solid #a6acb6;
    padding-top: 30px;
}

.anuncios-relatos h2 {
    font-size: 20px;
    font-weight: bolder;
    color: #021e50;
    font-style: italic;
}

.anuncios-relatos .img-fake {
    background-color: #021e50;
    width: 150px;
    height: 100px;
    display: inline-block;
    position: relative;
    top: -30px;
}

.anuncios-relatos .text {
    display: inline-block;
    width: 250px;
    padding-top: 10px;
    font-size: 12px;
    line-height: 18px;
    margin-left: 5px;
}

.anuncios-relatos .relatos {
    position: relative;
    top: -25px;
}

.text p {
    margin-bottom: 10px;
}

.anuncios-relatos button {
    float: left;
    font-weight: bolder;
    color: white;
    font-style: italic;
    background-color: #041531;
    border: 0;
    padding: 10px 10px;
    font-size: 20px;
    margin-top: 20px;
}

.anuncios-relatos button img {
    margin-right: 30px;
}

.anuncios-relatos .arrows {
    position: relative;
    float: right;
}

.relatos h4{
    font-weight: bold;
}

.relatos p {margin-top: 20px; }

footer {
    background-color: #bebebe;
    height: 40px;
    margin-top: 30px;
}

footer ul {
    margin-top: 10px;
}

footer li {
    display: inline;
    color: #414b5b;
    margin-right: 20px;
    font-size: 12px;
}

.form {
    display: inline-block;
    position: absolute;
    width: 300px;
    background-color: #0f2444;
    padding: 15px 25px 10px 25px;
    right: 0;
    top: 102px;
    z-index: 10;
}

.form label {
    display: inline-block;
    color: white;
    float: left;
    font-size: 12px;
}

.form input, .form select {
    width: 170px;
    float: right;
    height: 20px;
    background-color: #264573;
    border: 0;
    border-radius: 0;
    margin-bottom: 5px;
    color: white;
}

.form select {
    height: 30px;
    width: 182px;
}

.form input[type=submit] {
    border: 2px solid yellow;
    height: 40px;
    color: white;
    font-weight: bolder;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    margin-top: 10px;
    float: left;

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #CD9300),
        color-stop(1, #F2CA02)
    );
    background-image: -o-linear-gradient(top, #CD9300 0%, #F2CA02 100%);
    background-image: -moz-linear-gradient(top, #CD9300 0%, #F2CA02 100%);
    background-image: -webkit-linear-gradient(top, #CD9300 0%, #F2CA02 100%);
    background-image: -ms-linear-gradient(top, #CD9300 0%, #F2CA02 100%);
    background-image: linear-gradient(to top, #CD9300 0%, #F2CA02 100%);
}

#form-login {
    right: -145px;
}

.border {
    border-bottom: 2px solid #264573;
}

.esconder {
    display: none;
}

.cadastro-login a{
    margin-left: 25px;
}

.cadastro-login a img{
    margin-left: 9px;
    padding-top: 1px;
    /**/
}

/** 2 - Interna **/

body.interna{
    background: url(/images/background.png) repeat-x scroll 0 -250px transparent;
    color: #414B5B;
}

.interna #header .bg-title{
    background: radial-gradient(ellipse at center center , #1F375F 0%, #041531 100%) repeat scroll 0 0 #FFFFFF;
    border-bottom: 5px solid #75CE02;
}

.interna #header .bg-title.no-border{
    border-bottom-color: transparent;
}

.interna #header .bg-title h1{
    color: #FFFFFF;
    display: inline-block;
    font-size: 50px;
    font-style: italic;
    font-weight: bolder;
    margin-top: 60px;
    margin-bottom: 1px;
}

.interna #content{
    margin-top: 15px;
}

.interna .cadastro-login{
    top: 15px;
    position: absolute;
    right: 0;
}

.interna .form{
    top: 45px;
}

/** 3 - Profile (Ãrea Logada) **/

.interna #header .change-profile a.active{
    background-color: #22457E;
}

.interna #header .change-profile a{
    display: block;
    float: right;
    font-size: 14px;
    font-weight: bold;
    height: 60px;
    text-align: center;
    line-height: 52px;
    width: 100px;
    color: #FFFFFF;
}

.interna #header .user{
    border-right: 1px solid #22457E;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #fff;
}

.interna #header .user span{
    display: block;
    font-weight: normal;
}

.interna #header .user a.username{
    display: block;
    color: #FFF;
}

.interna #header a.logout{
    color: #FFFFFF;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    background-color: #041531;
    display: inline-block;
    margin-top: 40px;
    padding: 10px 20px;
}

.interna #header a.logout img{
    margin-right: 20px;
}

.interna .title-page .navbar{
    margin-bottom: 0;
}

.interna .title-page .navbar-inner{
    padding: 0;
    border: none;
    background: none;
}

.interna .title-page .navbar-inner ul.nav{
    float:right;
}

.interna .title-page .navbar .nav > .active > a,
.interna .title-page .navbar .nav > .active > a:hover,
.interna .title-page .navbar .nav > .active > a:focus,
.interna .title-page .navbar .nav li.dropdown.open > .dropdown-toggle,
.interna .title-page .navbar .nav li.dropdown.active > .dropdown-toggle,
.interna .title-page .navbar .nav li.dropdown.open.active > .dropdown-toggle{
    background: transparent;
    box-shadow: 0 3px 16px #041531 inset;
}

.interna .title-page .navbar .nav a .caret{
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-top: 4px solid #FFFFFF;
    content: "";
    display: inline-block;
    height: 6px;
    vertical-align: bottom;
    width: 0;
}

.interna .title-page .navbar .nav li.dropdown > a:hover .caret,
.interna .title-page .navbar .nav li.dropdown > a:focus .caret{
    border-top: 4px solid #FFFFFF;
}

.interna #encurtador {
    border-bottom: 5px solid #75CE02;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 16px;
}

.interna #encurtador input[type="text"] {
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1) inset;
    color: #C0C0C0;
    font-size: 26px;
    font-style: italic;
    font-weight: bold;
    height: 50px;
    margin-top: 20px;
    padding-bottom: 0;
    padding-top: 0;
    width: 75%;
}

.interna #encurtador input[type="submit"] {
    background-image: linear-gradient(to top, #CD9300 0%, #F2CA02 100%);
    border: 2px solid #FFFF00;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bolder;
    height: 40px;
    margin-left: 20px;
    margin-top: 10px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    width: 140px;
}

.interna #encurtador p{
    color: #414B5B;
}


.interna .dados {
    margin-top: 20px;
}

.interna .dados h3{
    font-size: 20px;
    font-weight: bolder;
    text-shadow: 4px 3px 4px #BEC4C0;
}
/*.interna .dados .container {*/
    /*border-bottom: 1px solid #d0d4dc;*/
    /*padding-bottom: 30px;*/

/*}*/

.interna .dados .span5 {
    background-color: #ececec;
    text-align: center;
    padding: 10px;
    margin-left:20px;
    border-radius: 5px;
    box-shadow: 0 3px 12px #CDCDCD;
}

.interna .dados .span3 {
    margin-left: 0;
}


.interna .links .container > h3 {
    display: block;
    border-bottom: 2px solid #96a4bb;
    padding-bottom: 5px;
}

.interna .links aside {
    display: inline-block;
    float: left;
}

.interna .links aside h4 {
    font-size: 14px;
    font-weight: bold;
}

.interna .links aside .bloco {
    width: 200px;
    height: 30px;
    background-color: #021e50;
}

.interna .links table {
    margin-top: 20px;
    text-align: center;
}

.interna .links table.table{
    margin-bottom: 0;
}

.interna .links thead {
    background-color: #bdc7d5;
}

.interna .links thead td {
    font-weight: bold;
    font-size: 14px;
    padding: 20px 10px;
}

.interna .links tbody tr {
    font-size: 14px;
    height: 40px;
}

.interna .links tbody tr:nth-child(2n){
    background-color: #dbe1e8;
}

.interna .links tbody tr:nth-child(2n+1){
    background-color: white;
}

.interna .links tfoot {
    background-color: #264573;
    color: white;
    font-size: 14px;
}

.interna .links tfoot td{
    height: 30px;
    padding: 5px 10px;
}

.interna .links table:last-child td{
    background-color: #264573;
    color: white;
    padding: 10px 16px;
}

.interna .links table:last-child {
    margin-top: 0;
}

.interna .links table span {
    color: white;
}

.interna .lead textarea{
    font-size: 22px;
    padding-top: 40px;
}

/** 4 - Link **/

.banner-area {
    margin-top: 20px;
}

.button-area{
    margin-top: 35px;
}

/** 5 - Geral **/

header .container, #header .container{
    position: relative;
}


.logo {
    position: relative;
    top: 30px;
    display: inline-block;
}

footer a, footer a:hover{
    color: #414b5b;
}